.hero {
    height: 20vw;
    background-size: cover;
    background-position: center;
    position: relative;
    
  }

.hero h1 {
    font-size: 6vw;
    color: black;
    text-align: center;
}
h1 {
    padding-top: 5vw;

 }
